<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nexmore.service.SchedulerMapper">
    <select id="selectPrkHistData" resultType="java.lang.String">
        SELECT sction_id FROM tb_parkng_hist ORDER BY frst_regist_pnttm DESC
    </select>
</mapper>